body{
    margin:0px;
    background-color: #525;
}
nav{
    width:100%;
    background-color:#efefef;
    height:70px;
    border-bottom:2px solid black;
}
nav h1{
  margin: 0px auto;
}
.menu{
    float:left;
    width:300px;
    height:50px;
    margin-top: 10px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float:left;
    margin-left:20px;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;
    color:red;
}
.icons{
    float:right;
    margin: 16px 110px 0px 0px;
}
.icons img{
  width:40px;
  height:30px;
  margin-right:10px;
}
.banner{
  width:100%;
  height:550px;
  float:left;
  background-color: #efefef;
  font-family: Helvetica Neue;
  font-weight: 300;
}

.banner h1{
  font-weight: 200;
  font-size:50px;
}

.banner p{
  font-weight: 300;
  font-size:20px;
}

.banner img{
  margin-top:40px;
}

.left{
  width:50%;
  height: inherit;
  background-color:#efefef;
  float:left;
}
.left img{
  width:300px;
  height:392px;
  margin:90px 0px 0px 210px;
  border:3px solid black;
}
.right{
  width:50%;
  height: inherit;
  background-color:#efefef;
  float:right;
  font-family: Helvetica Neue;
  text-align: justify;
}
.right h1{
  font-weight: 200;
  font-size:50px;
  margin-right:80px;
}

.right p{
  font-weight: 300;
  font-size:20px;
  margin-right:70px;
}

.footer{
  width:100%;
  height:50px;
  float:left;
  background-color:grey;
  color:white;
  font-family: Helvetica Neue;
  font-weight: 300;
}
.footer p{
  margin-top:20px;
}
