#temp-disp{
    font-weight: bolder;
    text-align: center;
 }
 .banner{
   width:100%;
   height:100px;
   float:left;
   margin-top:15px;
 }
 .banner-left{
   width:40%;
   height:inherit;
   float: left;
 }
 .column1 {
   float: left;
   width:30%;
   height: inherit;
 }
 #temp{
   font-size: 64px;
   font-family:Arial,sans-serif;
   color: #212121;
   font-weight: lighter;
 }
 .column2 {
   float: left;
   width: 70%;
   font-stretch: 100%;
   height: inherit;
  }
 .col2_1{
   float: left;
   width:42%;
   height: inherit;
   margin-top:-13px;
 }
 .col2_2{
   float: left;
   width:29%;
   height: inherit;
   font-family: Arial,sans-serif;
   font-weight:lighter;
   color:#212121;
   font-size: 16px;
   margin-top:3px;
   cursor:default;
 }
 .banner-right{
   width:60%;
   height:inherit;
   float: left;
   font-family: Arial, Helvetica, sans-serif;
 }
 .row1{
   font-family: Arial,sans-serif;
   font-size: medium;
   font-weight: lighter;
   color:#878787;
   margin:0px 0px 16px 90px;
   line-height: 22px;
 }
 .row2{
   margin:0px 0px 0px 90px;
 }
